#head{
    text-align: center;
    font-family: calibri;
    font-size: 18px;
}
body{
    background-color: rgb(240, 243, 248);
}
#name
{
    font-family: calibri;
    font-size: 18px;
    font-weight: bold;
    margin-left: 30px; 
    
}
#fatherName
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
  
   
}
#mail
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
}

#cAddress
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
}
#pAddress
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
    
}

#dateOfBirth
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
}
#mobileNo
{
    font-family: calibri;
    font-size: 18;
    font-weight: bold;
    margin-left: 30px;
}
#upload
{
    font-family: calibri;
    font-size: 15px;
}
#userName
{
    width: 250px;
    height: 30px;
}
#fname
{
    width: 250px;
    height: 30px;
}
#email_id
{
    width: 250px;
    height: 30px;
}
#curAdd
{
    width: 250px;
    height: 40px;
}
#perAdd
{
    width: 250px;
    height: 40px;
}
#dob
{
    width: 250px;
    height: 30px;
}
#mobile
{
    width: 250px;
    height: 30px;
}
#cityName
{
    width: 250px;
    height: 25px;
}
#state
{
    width: 250px;
    height: 25px;
}
#zip
{
    width: 250px;
    height: 30px;
}
sup{
    color: red;
}
#bu
{
    background-color: blue;
    font-family: calibri;
    width: 70px;
    height: 30px;
    margin-left: 500px;
    border-radius: 5px;
}